name: Quality assurance
on: push

jobs:
  test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew :core:test
